---
layout: default
published: true
---

<div class="posts">

  <!-- 記事一覧 -->
  {% for post in paginator.posts %}
    <a href="{{ site.baseurl }}{{ post.url }}"><article class="post">
      <h1>{{ post.title }}</h1>
      {% include post_meta.html %}      
    </article></a>
  {% endfor %}

<!-- ページネーションリンク -->
{% if paginator.total_pages > 1 %}
<div class="pagination">

  {% if paginator.previous_page %}
    <a class="pagination__item perv" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% endif %}

  <span class="pagination__item pagination__number">
          {{ paginator.page }} / {{ paginator.total_pages }}
  </span>

  
  {% if paginator.next_page %}
    <a class="pagination__item next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% endif %}
</div>
{% endif %}
  

</div>
