---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans CJK JP"),
        local("Noto Sans JP"),
        url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf) format('opentype');
}

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: #fcfcfc;
  line-height: 1.6;
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  color: $darkGray;  
}

.container {
  margin: 0 auto;
  max-width: 748px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 120%;
  margin: 8px 0;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 110%;
}

h4 {
  font-size: 100%;
}

p {
  margin: 15px 0;
}

a {
  color: $green;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: $darkGreen;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 1.4em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  margin-bottom: 16px;
  background: #fff;
  border-top: 2px solid #4CAF50;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.masthead {
  padding: 8px 0;
}

.site-avatar {
  float: left;
  width: 24px;
  margin-right: 8px;

  &:hover {
    transform: rotate(-15deg);
}

  img {
    border-radius: 50%;
  }
}

.site-info {
  float: left;
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-weight: 600;
  font-size: 100%;
  letter-spacing: 1px;
}

nav {
  float: right;
  font-size: 95%;

  @include mobile {
    display: block;
  }

  a {
    margin-left: 24px;
    color: #888;
    text-align: right;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
    }
  }
}

//
// .main
//

#main {
  margin-top: 72px;
}

.posts > .post {
  border-bottom: 1px solid $lightGray;
  
  h1 {
    font-size: 100%;
  }
  
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
  }
  .comments {
    margin-top: 10px;
  }
  .read-more {
    text-transform: uppercase;
    font-size: 95%;
  }
}

// entry
.entry {

  a:hover {
    text-decoration: underline;
  }
  
  iframe {
    max-width: 100%;
    margin: 0 auto;
  }
  hr {
    border: none;
    border-top: 1px solid #ddd;
  }
   h2:before {
    content: "##";
    color: #aaa;
    margin-right: 4px;
  }
   h3:before {
    content: "###";
    color: #aaa;
    margin-right: 4px;
  }
   h4:before {
    content: "####";
    color: #aaa;
    margin-right: 4px;
  }

  .news {
    padding: 0 0 1.6em;
  }
  .newscomme {
    border-left: 2px #ccc solid;
    margin: 0 0 0 8px;
    padding: 0 0 0 8px;
  }

  .video_wrapper {
    min-width: 280px;
    margin: 8px auto;
  }
  .video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    overflow: hidden;
  }
  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  twitterwidget {
    margin: 0 auto;
  }
  
  .amazlet-box {
    padding: 16px 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  #appreach-box {
    border: 1px solid #ddd;
    border-radius: 4px;  
  }

}

//ad
.ad-top, .ad-bottom {
  text-align: center;
  color: #aaa;
  font-size: 95%;
  margin:16px auto;
}
.ad-bottom {
  max-width: 336px;
  margin:16px auto 24px;
}
// sns

.sns a {
  display: inline-block;
  text-align: center;
  width: 32%;
  height: 32px;
  padding: 6px 8px 0px;
  font-size: 13px;
  color: white;
  
  &:hover {
    text-decoration: none;  
  }
}

.twitter a {
  background: #55acee;
  
  &:hover {
    background: #4489be;
  }

}

.facebook a {
  background: #3b5999;
  
  &:hover {
    background: #2f477a;
  }

}

.hatebu a {
  background: #008fde;
  
  &:hover {
    background: #0072b1;
  }

}

.feedly a {
  background: #6cc655;
  
  &:hover {
    background: #52ae3a;
  }

}

// author box

.author-box{
  margin: 56px auto;
  padding: 16px 0;
  border-top: 4px double #ddd;

  .icon {
    float: right;
    margin: -48px auto 8px;
    -webkit-animation-name:fuwafuwa;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease;
    -moz-animation-name:fuwafuwa;
    -moz-animation-duration:2s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease;
    
    & img {
      width: 72px;
      height: 72px;
      border: 2px solid #ddd;
      border-radius: 50%;
    }
    
  }

  @-webkit-keyframes fuwafuwa {
    0% {-webkit-transform:translate(0, 0);}
    50% {-webkit-transform:translate(0, -4px);}
    100% {-webkit-transform:translate(0, 0);}
  }
  @-moz-keyframes fuwafuwa {
    0% {-moz-transform:translate(0, 0);}
    50% {-moz-transform:translate(0, -4px);}
    100% {-moz-transform:translate(0, 0);}
  }

}

.wrapper-footer {
  margin-top: 40px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

footer {
  padding: 20px 0;
  text-align: center;
  font-size: 90%;
}

// Pagenation
.pagination{
  text-align: center;

  &__item{
    margin: 0 4px;
    padding: 8px;
  }

  &__item.perv {
    float: left;
  }

  &__number {
    display: inline-block;
  }
  
  &__item.next {
    float: right;
  }

}

// Archives
ul.posts {
  font-size: 100%;
}

// Tags
@mixin post-tag {
  padding: 0 .3rem;
  margin: 0 .1rem;
  color: $green;
  &:hover {
    text-decoration: underline;
  }
}

//  Meta data line below post title
.post-meta {
  display: block;
  margin-top: -.3rem;
  margin-bottom: 1rem;
  font-size: 95%;
  color: #9a9a9a;
  time {
    margin-right: 0;
  }
  .post-tags {
    display: inline-block;
  }
  a {
    margin-right: 4px;
    color:#9a9a9a;
  }
  a:hover{
    text-decoration:underline;
  }    
}

/**
 * Styles for _pages/tags.html
 */
.tag-cloud {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    a {
      @include post-tag;
    }
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
