---
layout: default
published: true
---

<article class="post">
  <h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>  
  {% include post_meta.html %}
  <div class="ad-top">
    スポンサードリンク
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- 記事上レスポンシブ -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-3575252598876356"
           data-ad-slot="9036099626"
           data-ad-format="horizontal"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div class="entry">
    {{ content }}
    <div class="entry-footer">
      <div class="ad-bottom">
        スポンサードリンク
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- 記事下レスポンシブ -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-3575252598876356"
                 data-ad-slot="6223968026"
                 data-ad-format="rectangle"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      <div class="share-follow">
        Share:<br>
        <span class="sns twitter"><a href="https://twitter.com/intent/tweet?text=“{{ page.title }} - {{ site.name }}”&url={{ site.url }}{{ page.url }}" rel=”nofollow” onClick="window.open(encodeURI(decodeURI(this.href)),'twwindow','width=550, height=450, personalbar=0, toolbar=0, scrollbars=1'); return false;"><i class="fa fa-twitter"></i> ツイート</a></span>
        <span class="sns facebook"><a href="http://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank"><i class="fa fa-facebook"></i> シェア</a></span>
        <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-label-counter" data-hatena-bookmark-lang="ja" data-hatena-bookmark-height="28" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script><br>
        Follow:<br>
        <span class="sns feedly"><a href="https://feedly.com/i/subscription/feed/https://akio6o6.github.io/blog/feed.xml" target="_blank"><i class="fa fa-rss"></i> Feedly</a></span>
        <span class="sns twitter"><a href="https://twitter.com/akio6o6" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></span>
      </div>
      
      <h2>最近の記事</h2>
      <ul>
        {% for post in site.posts limit:3 %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
      <a href="{{ site.baseurl }}/archives">>> 記事一覧</a><br>

      <div class="author-box">
        <div class="icon"><img src="https://akio6o6.github.io/crowl.jpeg"></div>
        <b>あき（akio6o6）</b>
        <p>穏健派ネットジャンキー。「<a href="https://twitter.com/akio6o6" target="_blank">Twitter</a>」と「<a href="http://b.hatena.ne.jp/akio6o6" target="_blank">はてブ</a>」がわりとアクティブ。Pentatonix・プレーンテキスト・WorkFlowy・情報カード・Monument Valley が好き。ポータルサイトは<a href="https://akio6o6.github.io/" target="_blank">こちら</a>。</p>
        <b>アキメモ とは</b>
        <p>その時々興味のあることを書いているブログ。ネット・アプリ・Webサービス関連が多め？ほぼ毎晩＿古き良き＿羅列型個人ニュースサイト風の記事も投稿中。</p>
      </div>
    
    </div><!--entry-footer-->
  </div><!--entry-->
  
  {% include disqus.html %}
</article>
