---
layout: default
published: true
---

<article class="post">
  <h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>  
  {% include post_meta.html %}
  <div class="ad-top">
    スポンサードリンク
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- 記事上レスポンシブ -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-3575252598876356"
           data-ad-slot="9036099626"
           data-ad-format="horizontal"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div class="entry">
    {{ content }}
    <div class="entry-footer">
      <div class="ad-bottom">
        スポンサードリンク
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- 記事下レスポンシブ -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-3575252598876356"
                 data-ad-slot="6223968026"
                 data-ad-format="rectangle"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      <div class="share-follow">
        Share:<br>
        <span class="sns twitter"><a href="https://twitter.com/intent/tweet?text=“{{ page.title }} - {{ site.name }}”&url=https://akio6o6.github.io/blog{{ page.url }}" rel=”nofollow” onClick="window.open(encodeURI(decodeURI(this.href)),'twwindow','width=550, height=450, personalbar=0, toolbar=0, scrollbars=1'); return false;"><i class="fa fa-twitter"></i> ツイート</a></span>
        <span class="sns facebook"><a href="http://www.facebook.com/sharer/sharer.php?u=https://akio6o6.github.io/blog{{ page.url }}" target="_blank"><i class="fa fa-facebook"></i> シェア</a></span>
        <span class="sns hatebu"><a href="http://b.hatena.ne.jp/entry/https://akio6o6.github.io/blog{{ page.url }}" target="_blank">B! はてブ</a></span><br><br>
        Follow:<br>
        <span class="sns feedly"><a href="https://feedly.com/i/subscription/feed/https://akio6o6.github.io/blog/feed.xml" target="_blank"><i class="fa fa-rss"></i> Feedly</a></span>
        <span class="sns twitter"><a href="https://twitter.com/akio6o6" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></span>
      </div>
      
      <h2>最近の記事</h2>
      <ul>
        {% for post in site.posts limit:4 %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
      <a href="{{ site.baseurl }}/archives">>> 記事一覧</a><br>

      </div><!--entry-footer-->
  </div><!--entry-->
  
  {% include disqus.html %}
</article>
